

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;  
  margin-top: 5px;
    --bg-size: 400%;
    --color-one: rgb(255, 183, 58, 0.6);
    --color-two:  rgb(255, 136, 255, 0.6);
    background: linear-gradient(
                  90deg,
                  var(--color-one),
                  var(--color-two),
                  var(--color-one)
                ) 0 0 / var(--bg-size) 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move-bg 10s infinite both;

    -webkit-background-size: 150px;
    color: $text-color;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: infinite;
    /* text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5); */
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    animation: move-bg 60s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}

p {
  font-size: x-large;
}

@media (max-width: 600px) {

  p {
      font-size:large;
  }
  }